<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="../CSS/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
    <script src="../JS/script.js" defer></script>
</head>
<header>
    <div class="menuTopo">
        <ul class="logo">
            <li>
                img
                <img>
            </li>
        </ul>
       
        <ul class="botoes">
            
            <li class="Sobre">
                <a href="sobre.html">Sobre</a>
            </li>
            <li class="Viagens">
                <a href="sobre.html">Viagens</a>
            </li>
            <li class="Reviews">
                <a href="reviews.html">Reviews</a>
            </li>
            <li class="Perguntas">
                <a href="perguntas.html">Perguntas</a>
            </li>
            <li class="Contatos">
                <a href="contatos.html">Contatos</a>
            </li>
            
        </ul>

        <ul class="botoesIcones">
            <li>Lu</li>
            <li>Men</li>
            <li>Ins</li>
        </ul>
        
    </div>

</header>
<main>
    
    <div class="slide-container">
        <sppan class="slider-span" id="slider-span1"></sppan>
        <sppan class="slider-span" id="slider-span2"></sppan>
        <sppan class="slider-span" id="slider-span3"></sppan>
        <sppan class="slider-span" id="slider-span4"></sppan>
        <sppan class="slider-span" id="slider-span5"></sppan>
        <sppan class="slider-span" id="slider-span6"></sppan>
        <sppan class="slider-span" id="slider-span7"></sppan>

        <div class="image-slider">
            <div class="slides-div" id="slide-1">

                <img src="../Imagens/paisagem1.jpg" alt="" class="img" id="img1">
                <a href="#slider-span1" class="button" id="button-1" onclick="background1()"></a>
            </div>
            <div class="slides-div" id="slide-2">
                <img src="../Imagens/paisagem2.jpg" alt="" class="img" id="img2">
                <a href="#slider-span2" class="button" id="button-2" onclick="background2()"></a>
            </div>
            <div class="slides-div" id="slide-3">
                <img src="../Imagens/paisagem3.jpg" alt="" class="img" id="img3">
                <a href="#slider-span3" class="button" id="button-3" onclick="background3()"></a>
            </div>
            <div class="slides-div" id="slide-4">
                <img src="../Imagens/paisagem4.jpg" alt="" class="img" id="img4">
                <a href="#slider-span4" class="button" id="button-4" onclick="background4()"></a>
            </div>
            <div class="slides-div" id="slide-5">
                <img src="../Imagens/paisagem1.jpg" alt="" class="img" id="img5">
                <a href="#slider-span1" class="button" id="button-5" onclick="background1()"></a>
            </div>
            <div class="slides-div" id="slide-6">
                <img src="../Imagens/paisagem2.jpg" alt="" class="img" id="img6">
                <a href="#slider-span2" class="button" id="button-6" onclick="background2()"></a>
            </div>
            <div class="slides-div" id="slide-7">
                <img src="../Imagens/paisagem3.jpg" alt="" class="img" id="img7">
                <a href="#slider-span3" class="button" id="button-7" onclick="background3()"></a>
            </div>
        </div>
    </div>
    
</main>

<footer>
    
</footer>
<body> 
   <!-- LINK DA REFERECIA
    https://www.behance.net/gallery/182203951/Site-for-Travel-AgencyEcommerce-website-design-concept?tracking_source=search_projects|website+design&
    -->
</body>

</html>